/* slider */


/* standard styles */
/* body */
body{
    margin: 0;
    padding: 0;
    /* color: white; */
    /* margin-top: 30px;
    margin-right: 90px;
    margin-left: 90px; */
    font-family: Arial, Helvetica, sans-serif;
    /* background-size: cover; */
    /* background-image: url(../media/Тело.jpg); */
}

a{
    color: rgb(0, 0, 0);
    /* color: white; */
    text-decoration: none;
}
a:hover{
    color: rgb(78, 19, 134);
}
img{
    width: 200px;
}
header{
    /* background-color: white; */
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.6fr;
}
input[type="search"]{
    outline: none;
    padding: 9px;
    border: 1px solid rgb(78, 19, 134);
}
input[type="submit"]{
    border: 0;
    background-color: blueviolet;
    color: white;
    padding: 9px;
    width: 70px;
    font-size: 15px;

}
input[type="submit"]:hover{
    background-color: rgb(78, 19, 134);
}

/* logo */
.logo{
    display: grid;
    grid-template-columns: 0.2fr 0.4fr;
}
.title-logo{
    font-size: 30px;
    font-weight: bold;
    color: rgb(78, 19, 134);
}
.logo>div{
    text-align: center;
    margin-left: 10px;
}
.logo>div>p{
    margin: 0;
    font-size: 13px;
}
.logo>div>.title-logo{
    font-size: 30px;
    font-weight: bold;
    color: rgb(78, 19, 134);
}
.logo img{
    width: 60px;
}

/* menu */
.menu{
    display: grid;
    align-items: center;
}
.menu>nav>a{
    margin: 10px;
    font-size: 18px;
}

/* search */
.search{
    display: flex;
    align-items: center;
}


/* enter_registration */
.enter_registration{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: right;
}
.enter_registration>a{
    margin: 10px;
    font-size: 18px;
}
.enter_registration>.enter{
    padding: 9px;
    width: 90px;
    text-align: center;
    border: 2px solid rgb(78, 19, 134);
}
.enter_registration>.enter:hover{
    color: white;
    background-color: rgb(78, 19, 134);
}

/* banner-header */
.banner-header{
    position: relative;
    color: white;
    /* width: 1300px; */
    height: 550px;
    background-size: cover;
    background-image: url(../media/Фото-контент/Габриэль\ АгрестБаннер.jpg);
}
.banner-header>h1{
    position: absolute;
    top: 150px;
    right: 50px;
    font-size: 74px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 50px  rgb(130, 46, 208),0 0 25px  rgb(130, 46, 208),0 0 13px  rgb(130, 46, 208);
}
.banner-header>p{
    position: absolute;
    top: 370px;
    right: 320px;
    font-size: 23px;
}

.card{
    color: white;
    width: 400px; 
    position: relative;
}

.card>img{
    width: 600px;
}
/*  kodfun-galeri */
.kodfun-galeri{
    display: flex;
    height: 20em;
    gap: 1rem;
}
.kodfun-galeri > div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4 );
}
.kodfun-galeri > div:hover{
    flex: 5;
}






.opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);

}
